footer {
    background-color: #2c3d4f;
    box-shadow: 0px 0px 31px 12px rgba(0,0,0,0.38);
    text-align: center;
}

    footer p {
        margin-top: 5vh;
    }

        footer p a {
            color: white;
            font-family: Calibri;
            font-size: 5vw;
        }