footer {
    background-color: #2c3d4f;
    clear: both;
    width: 100vw;
    height: auto;
    box-shadow: 0px 0px 31px 12px rgba(0,0,0,0.38);
}

    footer p {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

        footer p a {
            color: white;
            font-family: Calibri;
            font-size: 5vw;
        }