@media (orientation: landscape) {
    body {
        grid-template-rows: 40vh 1fr 20vh;
        overflow-x: hidden;
    }

    .NavbarSection img {
        /* width: 25%; */
        max-height: 100px;
    }

    .NavbarsContainer {
        right: 2vh;
        top: 2vh;
        font-size: 10vh;
        width: 13vh;
        height: 6vh;
    }

    .ContentSection h1 {
        font-size: 7vh;
    }

    .ContentText {
        width: 65%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

        .ContentText h2 {
            font-size: 5vh;
            padding: 5vh;
        }

        .ContentText h3 {
            font-size: 4vh;
            padding-top: 5vh;
        }

        .ContentText p {
            font-size: 3vh;
            padding: 5vh;
        }

    .APIContainer {
        height: 80vh;
        display: flex;
    }

    #Discord {
        height: 80vh;
    }
}