@media (orientation: landscape) {
    body {
        grid-template-rows: 70px 1fr 70px;
        overflow-x: hidden;
    }

    .NavbarSection {
        min-height: 70px;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }
        .NavbarSection .toggler, .hamburger {
            visibility: hidden;
        }
        .NavbarSection a {
            width: 25%;
            max-height: 100%;
        }

    .ContentSection h1 {
        font-size: 7vh;
    }

    .ContentText {
        width: 65%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
        .ContentText h2 {
            font-size: 5vh;
            padding: 5vh;
        }
        .ContentText h3 {
            font-size: 4vh;
            padding-top: 5vh;
        }
        .ContentText p {
            font-size: 3vh;
            padding: 5vh;
        }

    .APIContainer {
        height: 80vh;
        display: flex;
    }
    #Discord {
        height: 80vh;
    }
}