body {
    margin: 0;
    padding: 0;
    box-sizing: unset;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "Nav" "Content" "Footer";
    font-family: Calibri;
}

.NavbarSection {
    grid-area: Nav;
    width: 100vw;
    height: auto;
    box-shadow: 0px 0px 31px 12px rgba(0,0,0,0.38);
}

    .NavbarSection img {
        width: 65%;
        height: auto;
        margin: 30px;
    }

.NavbarsContainer {
    cursor: pointer;
    display: block;
    z-index: 1;
    position: absolute;
    right: 3vw;
    top: 3vw;
    font-size: 15vw;
    color: white;
}

.Content figure {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

    .Content figure img {
        display: block;
        width: 100%;
        height: auto;
    }

    .Content content h1{
        margin: auto;
        color: white;
        font-size: 10vw;
        text-align: center;
    }

footer {
    grid-area: Footer;
}