.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(25, 25, 25, 0.90);
    backdrop-filter: blur(2px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 17vw;
}

    .sidenav ul li {
        padding: 2.2vw 2.2vw 2.2vw 6vw;
        text-decoration: none;
        font-size: 7vw;
        color: #e2e2e2;
        display: block;
        transition: 0.3s;
    }

        .sidenav ul li a {
            padding: inherit;
            text-decoration: inherit;
            font-size: inherit;
            color: inherit;
            display: inherit;
            transition: inherit;
        }

            .sidenav ul li a:hover {
                background-color: rgba(96, 96, 96, 0.70)
            }